:root {
  --black: #010101;
  --red: #e82525;

  --gray: rgb(233, 233, 233);
}
@font-face {
  font-family: rec_reg;
  src: url("./assets/fonts/a2_rec_regular.ttf");
}

@font-face {
  font-family: rec_bold;
  src: url("./assets/fonts/a2_record_black.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: rec_reg;
  text-transform: uppercase;
}

nav {
  width: 100%;
  padding: 12px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  .logo {
    h2 {
      font-size: 25px;
      font-family: rec_bold;
      color: var(--red);
    }
  }

  .nav-links {
    display: flexٖ;
    align-items: center;
    gap: 10px;
    a {
      text-decoration: none;
      font-size: 22px;
      text-transform: uppercase;
      color: var(--black);
    }
  }

  .search-bar {
    width: 150px;
    > input {
      width: 100%;
      font-size: 22px;
      height: 100%;
      border: none;
      outline: none;
      background-color: var(--gray);
      padding: 5px;
      border-radius: 4px;
    }
  }

  .icons-row {
    display: flex;
    gap: 10px;

    .icon {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: var(--gray);
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.hero {
  width: 100%;
  height: 150vh;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  .container {
    margin-top: 55px;
    height: 100vh;

    h1 {
      font-size: 9.6vw;
      font-family: rec_bold;
      white-space: nowrap;
    }

    .image-container {
      width: 100%;
      height: 100vh;
      position: relative;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .overlay {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.066);
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;

        .card{
          position: absolute;
          top: 12%;
          left: 2%;
          border-radius: 1%;
            width: 25%;
            height: 65%;
            background-color: white;
            .image{
              position: absolute;
              width: 15vw;
              height: 20vh;
              left: 20%;
              object-fit: cover;
              top: 35%;
            }
            .txt1{
              position: absolute;
              font-size: 15px;
              top: 3%;
              left: 2%;
              font-family: rec_bold;
            }
            .txt2{
              position: absolute;
              font-size: 15px;
              top: 3%;
              right: 1.5%;
              font-family: rec_avg;
            }
            .txt3{
              position: absolute;
              font-family: rec_avg;
              font-size: 15px;
              top: 11%;
              left: 2%;
            }
            .txt4{
              position: absolute;
              font-family: rec_avg;
              font-size: 15px;
              bottom: 5%;
              right: 3%;
            }
        }
        
      }


    }
  }

}
.hero1{
  h1{
    font-size: 3.6vw;
    font-family: rec_bold;
    white-space: nowrap;
  }
  width: 100%;
  height: 80vh;
  padding: 0 55px;
  .box2
  {
    height: 80vh;
    display: flex;
    width: 90vw;
  }
  .code{
     margin: 0;
     padding: 0;
     height: 80%;
     width: 100%;
     .btn{
      color: #010101;
      border: none;
      font-size: 19px;
      font-family: rec_bold;
     }
    img{
      height: 65vh;
      width: 23vw;
      object-fit: cover;
  
    }
  }
  
}
.hero2{
  width:100% ;
  height: 85vh ;
  padding:0 52px ;
  margin-top: 100px;
 .container1{
  display: flex;
  #butt{
    background-color: #010101;
    color: #FFFFFF;
  }
  button{
    
    margin: 10px;
    padding: 10px;
   border-radius:8% ;
   border: 1px solid rgba(0, 0, 0, 0.423);
   background-color: #FFFFFF;
  
  }
 }
  h1{
    font-size: 2.6vw;
    font-family:rec_reg;
    white-space: nowrap;
  }
  .container2{
    display: flex;
   justify-content: space-between;
    padding: 50px 0px;
    width:95vw;
    height: 70vh;
    .img1{
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  
    
    button{
      background-color: #e82525;
      width: 20vw;
      border: none;
      padding: 10px;
      

    }
  }
  img{
    height: 31vh;
    width: 100%;

  }
}
.hero3{
  height: 140vh;
  width: 100%;
  margin: 5px 0;
  background: url(assets/images/workshop.jpeg);
  position: relative;
.head3{
position:absolute;
height: 100%;
width: 100%;
.line{
  width: 95%;
 
  position: absolute;
  top: 5%;
  left: 2.5%;
  height: 5vh;
  background-color: white;
}
.text1{
position: absolute;
top: 25%;
left: 40%;
font-family: rec_bold;
font-size: 160px;
color: white;
}
.text2{
  position: absolute;
  top: 38%;
  left: 10%;
  color: white;
  font-family: rec_bold;
  font-size: 160px;
}
.text3{
  position: absolute;
  top: 51%;
  left: 30%;
  color: white;
  font-family: rec_bold;
  font-size: 160px;
}
.right1{
  color: #FFFFFF;
  position: absolute;
  font-family: rec_reg;
  right: 20%;
  top: 30%;
  font-size: 12px;
  
}
.right2{
  color: #FFFFFF;
  position: absolute;
  font-family: rec_reg;
  right: 10%;
  top: 45%;
  font-size: 12px;
  
}
.left1{
  color: #FFFFFF;
  position: absolute;
  font-family: rec_reg;
  left: 8%;
  top: 65%;
  font-size: 12px;
}
.left2{
  position: absolute;
  bottom: 10%;
  left: 8%;
  font-size: 12px;
  font-family: rec_reg;
  color: #FFFFFF;
}
}

}
.hero4{
 
 width: 98vw;
 height: 130vh;
 padding: 0 55px;
 display: flex;
 
 p{
  position: absolute;
  top: 10px;
  left: 0%;
}
h1{
  position: absolute;
  top: 35px;
  font-family: rec_bold;
}
 .container4{
  display: flex;
  
  padding: 250px 0px;
    width: 49%;
    height: 50%;
  position: relative;
  top: 250px;
  left: 0;
  
  .pic1{
    top: 110px;
    position: absolute;
    display: flex; 
    height: 62vh;
    width: 20vw;
    
  }

 }
 .container5{
  display: flex;
  
  padding: 250px 0px;
  
  flex-direction: column;
    width: 49%;
    height: 50%;
  position: relative;
  top: 0;
  left: 0;
  margin-left: auto;
 top: 250px;
   .pic2{
    top: 110px;
    position: absolute;
    display: flex; 
    height: 62vh;
    width: 20vw;
    
  }
  
 }
}
.hero5{
  width: 100%;
  height: 120vh;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  .container6 {
    margin-top: 55px;
    height: 100vh;



    .image-container {
      width: 98.5vw;
      height: 100vh;
      position: relative;
      h1 {
        top: 20px;
      position: absolute;
        font-size: 2vw;
        font-family: rec_bold;
        color: #FFFFFF;
        white-space: nowrap;
        left: 30px;
      }
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .overlay {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.066);
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;

        .card{
          position: absolute;
          top: 12%;
          left: 2%;
          border-radius: 1%;
            width: 25%;
            height: 65%;
            background-color: white;
            .image{
              position: absolute;
              width: 15vw;
              height: 20vh;
              left: 20%;
              object-fit: cover;
              top: 35%;
            }
            .txt1{
              position: absolute;
              font-size: 15px;
              top: 3%;
              left: 2%;
              font-family: rec_bold;
            }
            .txt2{
              position: absolute;
              font-size: 15px;
              top: 3%;
              right: 1.5%;
              font-family: rec_avg;
            }
            .txt3{
              position: absolute;
              font-family: rec_avg;
              font-size: 15px;
              top: 11%;
              left: 2%;
            }
            .txt4{
              position: absolute;
              font-family: rec_avg;
              font-size: 15px;
              bottom: 5%;
              right: 3%;
            }
        }
        
      }


    }
  }
  }
  
.hero6{
display: flex;
margin-top: 40px;
align-items: center;
justify-content: center;
height: 140vh;
color-interpolation-filters: 100%;
.container6{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  background: url(assets/images/WhatsApp\ Image\ 2024-07-08\ at\ 3.30.38\ PM.jpeg);
  object-position: center;
  background-size: contain;
  width: 65%;
  >img{
    width: 70%;
    height: 90%;
    object-fit: cover;
    align-self: center;
  }
}
.container7{
  height: 120vh;
  width: 100%;
  position: absolute;
  .txt1{
    font-family: rec_bold;
    font-size: 80px;
    position: absolute;
    top: 10px;
    left: 25px;

  }
  .txt2{
    
    font-size: 10px;
    position: absolute;
    right: 220px;
    top: 0px;
  }
  .txt3{
    font-size: 10px;
    position: absolute;
    right: 20px;
    top: 160px;
  }
  .txt4{
    font-family: rec_bold;
    font-size: 80px;
    position: absolute;
    top: 280px;
    right: 10px;
  }
  .txt5{
    
    font-size: 10px;
    position: absolute;
    bottom: 125px;
    left: 25px;
  }
  .line{
    position: absolute;
    height: 30px;
    width: 95vw;
    background-color: black;
    border-radius: 3px;
    left: 25px;
    bottom: 85px;
  }
  .txt6{
    bottom: 0px;
    left: 10px;
    position: absolute;
    left: 25px;
    font-family: rec_bold;
    font-size: 15px;
    

  }
 
}

}
.hero7{
  width: 100%;
  height: 150vh;
  padding: 0 12px;
  display: flex;

 
.container8{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;

 
  .line{
   
    height: 30px;
    width: 95vw;
    background-color: black;
    border-radius: 3px;
    margin-left: 25px;
   margin-top: 75px;
  }
  .image{
 
  margin-top: 45px;
    width: 15vw;
    height: 15vh;
    margin-left: 25px;
    
  }
.txt1{
  position: absolute;
  font-family: rec_bold;
  font-size: 120px;
  position: absolute;
  top: 120px;
  left: 280px;

}
.txt2{
  position: absolute;
  font-family: rec_bold;
  font-size: 120px;
  position: absolute;
  top: 280px;
  left: 20px;
}
.txt3{
  position: absolute;
  bottom: 400px;
  left: 20px;
}
.btn{
  position: absolute;
  width: 10vw;
  height: 5vh;
  background-color:#E82525;
  color: #FFFFFF;
  border: none;
  border-radius: 4%;
  bottom: 340px;
  left: 20px;
}
.first{
  position: absolute;
  bottom: 390px;
  right: 450px;
  font-size: 25px;
  font-family: rec_bold;

}
.second{
  position: absolute;
  bottom: 340px;
  right: 488px;
  font-size: 25px;
  font-family: rec_bold;
}
.third{
  position: absolute;
  bottom: 290px;
  right: 520px;
  font-size: 25px;
  font-family: rec_bold;
}
.fourth{
  position: absolute;
  bottom: 240px;
  right: 340px;
  font-size: 25px;
  font-family: rec_bold;
}
.fifth{
  position: absolute;
  bottom: 190px;
  right: 510px;
  font-size: 25px;
  font-family: rec_bold;
}
.sixth{
  position: absolute;
  bottom: 140px;
  right: 550px;
  font-size: 25px;
  font-family: rec_bold;
}
}
    }
 .hero8{
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  height: 280vh;
  color-interpolation-filters: 100%;
  background-color: #010101;
  position: relative;

  .container9{

    display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  margin-top: 450px;
  object-position: center;
  background-size: contain;
  width: 85%;
    background: url(assets/images/blackgrid.avif);
    .line{
      position: absolute;
      height: 30px;
      width: 95vw;
      background-color:white;
      border-radius: 3px;
      left: 30px;
     top: 100px;
     
    }
    .imge{
      position: absolute;
      top:180px ;
      left: 30px;
  width: 15vw;
  height: 15vh;
 
    }
    .txt1{
      position: absolute;
      color: #FFFFFF;
      font-size: 85px;
      top:160px ;
      right: 40px;
      
    }
    .txt2{
      position: absolute;
      color: #FFFFFF;
      font-size: 85px;
      top:310px ;
      left: 30px;
      
    }
    .txt3{
      position: absolute;
      color: #FFFFFF;
      font-size: 10px;
      top:800px ;
      left: 230px;
    }
    .txt4{
      position: absolute;
      color: #FFFFFF;
      font-size: 10px;
      top:1190px ;
      right: 230px;
    }
    .num{
      position: absolute;
      color: #FFFFFF;
      font-size: 95px;
      top:810px ; 
      right: 270px;
    }
    .txt5{
      position: absolute;
      color: #FFFFFF;
      font-size: 10px;
      top:910px ; 
      right: 270px;
    }
    .txt6{
      font-family: rec_bold;
      position: absolute;
      color: #FFFFFF;
      font-size: 30px;
      top:950px ; 
      right: 700px;
    }
    .num2{
      position: absolute;
      color: #FFFFFF;
      font-size: 55px;
      top:1310px ; 
      left: 270px;
    
  }
  .txt7{
    font-family: rec_bold;
    position: absolute;
    color: #FFFFFF;
    font-size: 10px;
    top:1410px ; 
    left: 260px;
  }
  .txt8{
   
    position: absolute;
    color: #FFFFFF;
    font-size: 10px;
    top:950px ; 
    right: 700px;
  }
  .num3{
    position: absolute;
      color: #FFFFFF;
      font-size: 95px;
      top:1510px ; 
      left: 680px;
  }
  .txt8{
    position: absolute;
    color: #FFFFFF;
    font-size: 10px;
    top:1500px ; 
    left: 680px;
  }
  .txt9{
    position: absolute;
    color: #FFFFFF;
    font-size: 10px;
    top:1625px ; 
    left: 680px;
  }
  .txt10{
    position: absolute;
    color: #FFFFFF;
    font-size: 10px;
    top:1725px ; 
    right: 230px;
  }
  .txt11{
    position: absolute;
    color: #FFFFFF;
    font-size: 10px;
    bottom: 100px;
    left: 150px;
  }
  
 } 

}
.hero9{
  width: 100%;
  height: 50vh;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  background-color: #010101;
  .container9{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 40vh;
    width: 98vw;
    background-color:#E82525;
    border-radius: 4px;
    position: relative;
    .txt1{
      position: absolute;
      color: #FFFFFF;
      font-size: 11px;
      top: 15px;
      left: 40px;
    }
    .txt2{
      position: absolute;
      color: #FFFFFF;
      font-size: 11px;
      top: 15px;
      left: 420px;
    }
    .txt3{
      position: absolute;
      color: #FFFFFF;
      font-size: 11px;
      top: 15px;
      left: 820px;
    }
    .logo{
      height:2.5vh ;
      width: 10vw;
      position: absolute;
      right: 2px;
      top: 10px;
    }
    .line{
      position: absolute;
      height: 2.5vh;
      width: 95%;
      background-color: #FFFFFF;
      bottom: 40px;
      border-radius: 4px;
    }
    .txt4{
      position: absolute;
      
      font-family: rec_bold;
      font-size: 65px;
      bottom: 70px;
      left: 40px;
      color: #F49292;
    }
    .txt5{
      position: absolute;
      color: #FFFFFF;
      font-family: rec_bold;
      font-size: 65px;
      bottom: 70px;
      right: 40px;
    }
  }
}
.hero10{
  margin-top: 0vh;
  height: 140vh;
  width: 100%;
  background-color: var(--black);
  padding: 15px;

  .container-10{
    width: 100%;
    display: flex;
    align-items: center;
    .box{
      width: 25%;
      height: 320px;
      border-right: 1px solid rgb(45, 45, 45);
      border-bottom: 1px solid rgb(45, 45, 45);
    }

    .box:nth-child(4){
      border-right: none;
    }
  }

  .container-10-2{
    .box:nth-child(1){
      width: 50%;
    }

    .box:nth-child(3){
      border-right: none;
    }
  }
  .box{
    position: relative;
    h1{
      margin-top: 20px;
      color: #FFFFFF;
      margin-left: 20px;
      font-size: 40px;
   
      }
      p{
        color: #FFFFFF;
        margin-top: 105px;
        margin-left: 15px;
      }
      button{
        height: 7vh;
        background-color: #010101;
        color: #FFFFFF;
        width:10vw;
        border-color: #FFFFFF;
        border-radius: 4px;
        margin-left: 15px;
        margin-top: 40px;
        
      }
      
      .btn1{
        height: 7vh;
        background-color: #010101;
        color: #FFFFFF;
        width:14vw;
        border-color: #FFFFFF;
        border-radius: 4px;
        margin-left: 15px;
        margin-top: 130px;
      }
      .btn2{
        height: 7vh;
        background-color: #010101;
        color: #FFFFFF;
        width:14vw;
        border-color: #FFFFFF;
        border-radius: 4px;
        margin-left: 15px;
        margin-top: 178px;
      }
      .links{
        margin-top: 40px;
        margin-left: 20px;
   
        a{
          text-decoration: none;
           color: #FFFFFF;
         }
    }
    #btn{
      position: absolute;
      height: 4vh;
      width:8vw;
      border-radius: 14px;
      top: 4px;
      left: 400px;
    
    }
  }
.container-10-3{
  position: relative;
  display: flex;
  width: 100%;
  .links{
    margin-top: 60px;
  .link1{
    
    margin-left: 20px;

      text-decoration: none;
       color: #FFFFFF;
     
  }
.link2{
 
     margin-left: 780px ;
      text-decoration: none;
       color: #FFFFFF;
}
}

p{
  position: absolute;
  top: 75px;
  color: #FFFFFF;
  margin-left:1125px ;
  #l2{
    text-decoration: underline;
  }
  .l1{
    color: #FFFFFF;
  }
}
.icons{
  position: absolute;
  left: 400px;
  top: 72px;
  img{
  width: 2vw;
  height: 4vh;
}}
}

}